* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

:root {
    --color-light-black: #343434;
    --color-red: #2a0000;
    --color-light-red: #d63838;
    --color-gray: #333333;
    --color-dark-gray: #262626;
    --color-black: #0A0A0A;
}

h1 {
    color: #a455a4;
    font-size: 45px;
    margin: 20px;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game-item {
    text-align: center;
    margin: 20px;
}

.game {
    width: 250px;
    height: 450px;
    background-color: #0A0A0A;
    border-radius: 25px;
    margin: 0 auto; /* Center the button within the container */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    border: none;
    cursor: pointer;
}

.game:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 15px 5px rgb(141, 22, 165);
}

#attelsid {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    filter: grayscale(60%) brightness(60%);
    cursor: pointer;
}

#attelsid:hover {
    filter: grayscale(0%) brightness(80%);
}

.Mtext, .Ctext, .Ttext, .TRtext {
    color: #a455a4;
    font-size: 16px;
    margin-top: 10px;
    transition: transform 0.2s;
    font-weight: bold;
}

.button {
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #9daf4c;
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #768238;
}

.profile-picture {
    width: 30px; /* Set your desired width */
    height: 30px; /* Set your desired height */
    object-fit: cover; /* This will ensure the image covers the entire area */
    border-radius: 50%; /* Optional: makes the picture round */
}